@media screen and (max-width:375px){
  section {
    width: 340px;
  }
  .inner  {
   width: 290px;
  }
  #info {
    display:block;
    width: 310px;
    background-color: rgb(119, 163, 243);
    
  }
  .inner.info-content {
    background-color: rgb(238, 196, 168);
  }
  img {
    width: 100px;
  }
  .info-text p {
    width: 250px;
    font-size: 9px;
    height: 70px;
    background-color: rgb(238, 226, 226);
  }
  .container {
    display: flex;
    font-size: 9px;
    justify-content: center;
    align-items: flex-start;
    margin-left:-10px;
  }
  .container table {
    margin: 0;
    height: 133px;
    width: 178px;
  }
  .skill {
    width: 280px;
    font-size: 9px;
    background-color: rgb(233, 230, 188);
    text-align-last: left;
  }
  
  }
  h1 {
    font-size: 10px;
    padding: 0;
    margin: 5px;
    text-align: center;
    
  }
  header h1 {
    font-size: 20px;
  }

}