# ローカルDB
DB_HOST=localhost
DB_NAME=your_database_name
DB_USER=root
DB_PASS=

# SSHデプロイ
DEPLOY_USER=your_username
DEPLOY_HOST=your_server_hostname
DEPLOY_PORT=22
DEPLOY_KEY=~/.ssh/id_rsa
DEPLOY_DIR=pub/brothers
